@model VehiclesCheckInNewVehicleViewModel

@{
    ViewData["Title"] = "Check-in new vehicle";
}

<h1>Check-in new vehicle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckInNewVehicle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegNo" class="control-label"></label>
                <input asp-for="RegNo" class="form-control" />
                <span asp-validation-for="RegNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleTypeId" class="control-label"></label>
                <select asp-for="VehicleTypeId" asp-items="@Model.GetVehiclesType" class="form-control">
                    <option value="" hidden disabled selected>Select a vehicle type</option>
                </select>
                <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wheels" class="control-label"></label>
                <input asp-for="Wheels" class="form-control" step="1" min="1" max="10" />
                <span asp-validation-for="Wheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" asp-items="@Model.GetMembers" class="form-control">
                    <option value="" hidden disabled selected>Select owner</option>
                </select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Check-in" class="btn btn-primary" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Vehicles" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
