<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Park 7 | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap">
    <link rel="stylesheet" href="http://code.jquery.com/jquery-1.9.1.min.js">
</head>
<body>
    <div class="main-nav">
        <ul class="nav">
            <img src="~/images/logomeny.jpg" title="Logo" width="108" height="135" />
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Start</a></li>
            <li><a asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a></li>
            <li><a asp-area="" asp-controller="Members" asp-action="Index">Members</a></li>
        </ul>
    </div>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>