@model ParkinOverviewModel

@{
    ViewData["Title"] = "Overview";
    int row = 0;
}

<h1>Overview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>                
             Parked vehicles   "@Model.totalParkingPlace";
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in @Model.Result)
 {

     row++;
      @:<tr>
          <td> 
              
             [ @item , @Model.PardkedVeicType]<!-- [10, Minivan] -->

          </td>
      if(row == 10)
      {
        row=0;
        @:</tr>
      }
 }
 </tbody>
</table>
