@{
    Layout = "_LayoutStart";
}

@{
    ViewData["Title"] = "7 Car Park | Exklusive automated parking | Members only";
}


<div class="hero flex-center">
    <div class="hero-message">
        <h1 class="hero-title">Welcome to 7 Car Park</h1>
        <h2 class="hero-sub-title">Enter license plate</h2>
    </div>
</div>
<div class="not-hero flex-center bg-info">
    <div class="not-hero-message">
        <h1 class="hero-title">Not the Hero Image Section testing testing testing</h1>
    </div>
</div>
