@{
    Layout = "_LayoutStart";
}

@{
    ViewData["Title"] = "Exclusive automated parking | Members only";
}

<div class="hero flex-center">
    <div class="hero-message">
        <h1 class="hero-title">Welcome to Car Park 7</h1>
        <h2 class="hero-sub-title">Enter license plate</h2>
    </div>
</div>